.DS_Store
.idea
.nyc_output

node_modules

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.ultra.cache.json

.env

coverage

build

.eslintcache

# not using zero-installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
